nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') VTMS
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/series') Series List