script(src='/libs/angular/angular.min.js')
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')