.panel.panel-primary
  .panel-heading.text-center {{config.title}}
  .panel-body
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th(ng-show="config.columns.actions") Actions
        th(ng-show="config.columns.teamMember") Team Member
        th(ng-show="config.columns.activity") Activity
        th(ng-show="config.columns.startTime") Started
        th(ng-show="config.columns.endTime") Completed
        th(ng-show="config.columns.duration") Duration
    tbody
      tr(ng-repeat="activity in activityList")
        td(ng-show="config.columns.actions")
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              | Actions
              span(class="caret")
            ul(class="dropdown-menu")
              li(ng-show="config.actions.complete && !activity.isCompleted")
                a(href="#", ng-click="completeActivity(activity)") Complete
              li(ng-show="config.actions.delete")
                a(href="#", ng-click="deleteActivity(activity)") Delete
        td(ng-show="config.columns.teamMember") {{activity.shift.teamMember.nameFirst}}
        td(ng-show="config.columns.activity") 
          span {{activity.activity}}
          span(ng-if="activity.task") {{": " + activity.task.taskGlobal.name}}
        td(ng-show="config.columns.startTime") {{activity.timeStart | date: 'MMM d, yyyy HH:mm'}}
        td(ng-show="config.columns.endTime")
          span(ng-show="activity.isCompleted") {{activity.timeEnd | date: 'MMM d, yyyy HH:mm'}}
        td(ng-show="config.columns.duration")
          span(ng-show="activity.isCompleted") {{activity.duration()}}
      tr(ng-show="config.create")
        td(ng-show="config.columns.actions")
          button.btn.btn-primary.btn-sm(ng-show="newActivityValues.activity.length > 0", ng-click="createActivity()") New Activity
        td(ng-show="config.columns.teamMember")
        td(ng-show="config.columns.activity")
          input(ng-model="newActivityValues.activity")
        td(ng-show="config.columns.startTime")
        td(ng-show="config.columns.endTime")
        td(ng-show="config.columns.duration")