.container-fluid
  ol.breadcrumb
    li
      a(href="/series") Series List
    li
      a(href="/series/{{ctrl.lesson.languageSery.series.id}}") {{ctrl.lesson.languageSery.series.title}}
    li
      a(href="/languageSeries/{{ctrl.lesson.languageSery.id}}") {{ctrl.lesson.languageSery.title}}
    li.active {{ctrl.lesson.title}}
.container
  h1
    a(href="#", editable-text="ctrl.lesson.title", onbeforesave="update({title: $data})") {{ctrl.lesson.title}}
  p Publish Date: {{ctrl.lesson.publishDateSite !== '0000-00-00'?(lesson.publishDateSite | date:'yyyy-MM-dd'): "Not Set"}}
  p YouTube Date: {{ctrl.lesson.publishDateSite !== '0000-00-00'?(lesson.publishDateSite | date:'yyyy-MM-dd'): "Not Set"}}
  p YouTube Code: 
    a(href="#", editable-text="ctrl.lesson.ytCode", onbeforesave="update({ytCode: $data})") {{ctrl.lesson.ytCode ? ctrl.lesson.ytCode : "none"}}
.container
  task-list(tasks="ctrl.taskList", title="Task List")
.container
  shot-list(lesson="ctrl.lesson")
.container
  issues-list(lesson="ctrl.lesson")