.panel.panel-default
  .panel-heading.text-center {{config.title}}
    a.pull-right(href="#", ng-click="refresh()")
      span.glyphicon.glyphicon-refresh(aria-hidden="true")
  .panel-body
    .pull-right(ng-show="config.sortable")
      form.form-inline
        .form-group
          select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th(ng-show="config.columns.actions && identity.isLoggedIn()") Actions
        th(ng-show="config.columns.series") Series
        th(ng-show="config.columns.level") Level
        th(ng-show="config.columns.number") Number
        th(ng-show="config.columns.title") Title
        th(ng-show="config.columns.lastRender") Last Render
        th(ng-show="config.columns.lastAction") Last Action
        th(ng-show="config.columns.queuedTime") Queued Time
        th(ng-show="config.columns.trt") TRT
        th(ng-show="config.columns.qaLog") QA Log
        th(ng-show="config.columns.qaUrl") QA Url
        th(ng-show="config.columns.dueDate") Due Date
        th(ng-show="config.columns.status") Status
    tbody
      tr(ng-repeat="lesson in lessonsList | orderBy: sortOrder")
        td(ng-show="config.columns.actions && identity.isLoggedIn()")
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              | Actions
              span(class="caret")
            ul(class="dropdown-menu")
              li(ng-show="config.actions.addtoRenderQueue && identity.isAdmin()")
                a(href="#", ng-click="addToRenderQueue(lesson)") Add to Render Queue
              li(ng-show="config.actions.removeFromRenderQueue && identity.isAdmin()")
                a(href="#", ng-click="removeFromRenderQueue(lesson)") Remove from Render Queue
              li(ng-show="config.actions.markAsExported && identity.isAdmin()")
                a(href="#", ng-click="markAsExported(lesson)") Mark as Exported
              li(ng-show="config.actions.delete && identity.isAdmin()")
                a(href="#", ng-click="deleteLesson(lesson)") Delete
              li(ng-show="config.actions.markAsVideoChecked")
                a(href="#", ng-click="markAsVideoChecked(lesson) && identity.isAdmin()") Mark as Video Checked
              li(ng-show="config.actions.markAsLanguageChecked && identity.isManager()")
                a(href="#", ng-click="markAsLanguageChecked(lesson)") Mark as Language Checked
              li(ng-show="config.actions.markAsArchived && identity.isAdmin()")
                a(href="#", ng-click="markAsArchived(lesson)") Mark as Archived
              li(ng-show="config.actions.goToCheckingInterface")
                a(href="lesson/{{lesson.id}}/checking") Go To Checking Interface
        td(ng-show="config.columns.series") {{lesson.languageSery.title}}
        td(ng-show="config.columns.level") {{lesson.languageSery.level.name}}
        td(ng-show="config.columns.number") {{lesson.number}}
        td(ng-show="config.columns.title")
          a(ng-href="/lesson/{{lesson.id}}") {{lesson.title}}
        td(ng-show="config.columns.lastRender") {{lesson.lastRender | date: 'MMM d, yyyy, h:mm a'}}
        td(ng-show="config.columns.lastAction")
          ul
            li(ng-show="lesson.fkLastTask > 0") {{lesson.lastTask.teamMember.nameFirst}} - {{lesson.lastTask.taskGlobal.name}} {{lesson.lastTaskTime | date: 'MMM d, yyyy, h:mm a'}}
            li(ng-show="lesson.fkLastIssue > 0") Issues fixed {{lesson.lastIssueTime | date: 'MMM d, yyyy, h:mm a'}}
        td(ng-show="config.columns.queuedTime") {{lesson.queuedTime | date: 'MMM d, yyyy, h:mm a'}}
        td(ng-show="config.columns.trt") {{lesson.trt | secondsToDateTime | date:'m:ss' }}
        td(ng-show="config.columns.qaLog")
          input.form-control(ng-model="lesson.qaLog", ng-blur="updateQaLog(lesson, $event)")
        td(ng-show="config.columns.qaUrl")
          input.form-control(ng-model="lesson.qaUrl", ng-blur="updateQaUrl(lesson, $event)")
        td(ng-show="config.columns.dueDate") {{lesson.dueDate() | date: 'MMM d, yyyy'}}
        td(ng-show="config.columns.status")
          span.glyphicon.glyphicon-facetime-video(aria-hidden="true", ng-show="lesson.isShot")
          span.glyphicon.glyphicon-font(aria-hidden="true", ng-show="lesson.checkedLanguage")
          span.glyphicon.glyphicon-ok(aria-hidden="true", ng-show="lesson.checkedVideo")
          span.glyphicon.glyphicon-floppy-save(aria-hidden="true", ng-show="lesson.filesMoved")
          span.glyphicon.glyphicon-cloud-upload(aria-hidden="true", ng-show="lesson.isDetected")
