.container-fluid
  ol.breadcrumb
    li
      a(href="/series") Series List
    li
      a(href="/series/{{ctrl.lesson.languageSery.series.id}}") {{ctrl.lesson.languageSery.series.title}}
    li
      a(href="/language-series/{{ctrl.lesson.languageSery.id}}") {{ctrl.lesson.languageSery.title}}
    li.active {{ctrl.lesson.title}}
.container
  h1
    a(href="#", editable-text="ctrl.lesson.title", onbeforesave="update({title: $data})") {{ctrl.lesson.title}}
.container
  task-list(tasks="ctrl.taskList", config="ctrl.tasksConfig")
.container
  shot-list(lesson="ctrl.lesson")
.container
  h3
    a(ng-href='/lesson/{{ctrl.lesson.id}}/checking') Checking
  issues-list(issues="ctrl.issuesList", config="ctrl.issuesConfig")
  publish-dates-list(publish-dates="ctrl.publishDatesList", config="ctrl.publishDatesConfig")