.container
  h1 Rendering
.container(ng-show="ctrl.lessonsToRender.length")
  lesson-list(lessons="ctrl.lessonsToRender", config="ctrl.lessonsToRenderConfig")
.container(ng-show="ctrl.lessonsInQueue.length")
  lesson-list(lessons="ctrl.lessonsInQueue", config="ctrl.lessonsInQueueConfig")
.container(ng-hide="ctrl.lessonsToRender.length || ctrl.lessonsInQueue.length")
  span ✧*｡٩(ˊᗜˋ*)و✧*｡