.container
  h1 Rendering
.container
  lessons-list(lessons="lessonsToRender", config="lessonsToRenderConfig", update-fn="updateLessonsToRender()")
.container
  lessons-list(lessons="lessonsInQueue", config="lessonsInQueueConfig")
.container(ng-hide="lessonsToRender.length || lessonsInQueue.length") 
  span ✧*｡٩(ˊᗜˋ*)و✧*｡