.container
  h1 Rendering
  h3 Export These
  table.table.table-hover.table-striped.table-condensed(ng-show="lessonsToRender.length")
    thead
      tr
        th Lesson
        th Last Render
        th Last Action
        th Due Date
        th Actions
    tbody
      tr(ng-repeat="lesson in lessonsToRender")
        td 
          a(href="/lesson/{{lesson.id}}") {{lesson.languageSery.title}} {{"#" + lesson.number}} "{{lesson.title}}"
        td {{lesson.exportedTime | date: 'MMM d, yyyy, h:mm a'}}
        td Last Action
        td {{lesson.dueDate() | date: 'MMM d, yyyy'}}
        td
          .btn-group.btn-group-sm
            button.btn.btn-primary(ng-click="addToQueue(lesson)") Add to Queue
  h3 Export Queue
  .pull-right
    form.form-inline
      .form-group
        input.form-control(ng-model="searchText", placeholder="Filter")
      .form-group
        select.form-control(ng-model="selectedSortOption", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Lesson
        th Queued Time
        th Actions
    tbody
      tr(ng-repeat="lesson in lessonsInQueue")
        td 
          a(href="/lesson/{{lesson.id}}") {{lesson.languageSery.title}} {{"#" + lesson.number}} "{{lesson.title}}"
        td {{lesson.queuedTime | date: 'MMM d, yyyy, h:mm a'}}
        td 
          .btn-group.btn-group-sm
            button.btn.btn-primary(ng-click="markAsExported(lesson)") Exported
            button.btn.btn-primary(ng-click="removeFromQueue(lesson)") Unqueue