extends ../includes/layout

block content
  nav.navbar.navbar-default(role="navigation")
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') VTMS
      div.collapse.navbar-collapse
        ul.nav.navbar-nav(ng-controller="vtmsNavBarController")
          li
            a(href='/series') Lesson DB
          li(ng-show="identity.currentUser.isLoggedIn()")
            a(href='/activity-feed') Activity Feed
          li.dropdown(ng-show="identity.currentUser.isAdmin()")
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Team Members
              span.caret
            ul.dropdown-menu(role="menu")
              li(ng-repeat="teamMember in teamMembers")
                a(href="team-members/{{teamMember.id}}") {{teamMember.nameFull}}
          li.dropdown(ng-show="identity.currentUser.isManager()")
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Management
              span.caret
            ul.dropdown-menu
              li
                a(href='/unassigned-tasks') Unassigned Tasks
              li
                a(href='/video-check-archival') Video Check & Archival
              li
                a(href='/render-queue') Render Queue
              li
                a(href='/quality-assurance') Quality Assurance
              li
                a(href='/undelivered-assets') Undelivered Assets
              li
                a(href='/issue-assignment') Issue Assignment
          li.dropdown(ng-show="identity.currentUser.isManager()")
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Publishing
              span.caret
            ul.dropdown-menu
              li
                a(href='/publishing-delivered') Recently Delivered
              li
                a(href='/publishing-upcoming') Upcoming
        div(ng-include="'/partials/account/navbar-login'")
  section.content
    div(ng-view)
  footer.container.text-center
      p Copyright 2015 Matt Henry
