extends ../includes/layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') VTMS
      div.collapse.navbar-collapse
        ul.nav.navbar-nav(ng-controller="vtmsNavBarController")
          li
            a(href='/series') Lesson DB
          li.dropdown(ng-show="identity.currentUser.isAdmin()")
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Team Members
              span.caret
            ul.dropdown-menu(role="menu")
              li(ng-repeat="teamMember in teamMembers")
                a(href="teamMembers/{{teamMember.id}}") {{teamMember.nameFull}}
        div(ng-include="'/partials/account/navbar-login'")
  section.content
    div(ng-view)
  footer.container.text-center
      p Copyright 2015 Matt Henry