extends ../layouts/index

block content
  div.series-list
    table.table
      tr
        th Title
        th Code
      each sery in series
        tr
          td
            a(href="series/#{sery.id}")= sery.title
          td= sery.code