.panel.panel-primary
  .panel-heading.text-center {{title}}
  .panel-body
    .pull-right
      form.form-inline
        .form-group
          input.form-control(ng-model="searchText", placeholder="Filter")
        .form-group
          select.form-control(ng-model="selectedSortOption", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed#tasks
      thead
        tr
          th Actions
          th(ng-if=("!!tasks[0].lesson.languageSery")) Lesson
          th Task
          th(ng-if=("!!tasks[0].teamMember")) Team Member
          th Status
          th Due Date
          
      tbody
        tr(ng-repeat="task in tasks | filter:searchText | orderBy: selectedSortOption")
          td
            div.btn-group
              button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
                | Actions
                span(class="caret")
              ul(class="dropdown-menu")
                li(ng-hide="task.isActive || task.isCompleted")
                  a(href="#", ng-click="activateTask(task)") Activate
                li(ng-show="task.isActive")
                  a(href="#", ng-click="deactivateTask(task)") Deactivate
                li(ng-hide="task.isCompleted")
                  a(href="#", ng-click="completeTask(task)") Complete
                li(ng-show="task.isCompleted")
                  a(href="#", ng-click="markAsIncomplete(task)") Mark as Incomplete
            td(ng-if=("!!task.lesson.languageSery"))
              a(href="/lesson/{{task.lesson.id}}") {{task.lesson.languageSery.title}} {{"#" + task.lesson.number}}: {{task.lesson.title}}
            td {{task.taskGlobal.name}}
            td(ng-if=("!!task.teamMember")) {{task.teamMember.nameFull}}
            td {{task.isCompleted ? "Completed" : "Incomplete"}} {{task.isCompleted ? (task.timeCompleted !== "0000-00-00 00:00:00" ? (task.timeCompleted | date: 'MMM d, yyyy') : "") : ""}}
            td {{task.dueDate() | date: 'MMM d, yyyy'}}