.panel.panel-primary
  .panel-heading.text-center {{title}}
  .panel-body
    .pull-right
      form.form-inline
        .form-group
          input.form-control(ng-model="searchText", placeholder="Filter")
        .form-group
          select.form-control(ng-model="selectedSortOption", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed#tasks
    thead
      tr
        th Actions
        th(ng-if=("!!tasks[0].lesson.languageSery")) Lesson
        th Task
        th(ng-if=("!!tasks[0].teamMember")) Team Member
        th Status
        th Due Date
    tbody
      tr(ng-repeat="task in tasks | filter:searchText | orderBy: selectedSortOption", task)
