.container
  h1 {{ctrl.teamMember.nameFull}}'s Task List
.container
  activity-list(activities="ctrl.activityList", config="ctrl.activityListConfig", user-id="ctrl.userId", update-fn="ctrl.updateActivityList()")
.container(ng-show="ctrl.issueList.length")
  issues-list(issues="ctrl.issueList", config="ctrl.issuesConfig")
.container
  task-list(tasks="ctrl.actionableTasks", config="ctrl.actionableTasksConfig")