.container
  h1 {{ctrl.teamMember.nameFull}}
.container.col-md-6
  activity-list(activities="ctrl.activityList", config="ctrl.activityListConfig", user-id="ctrl.userId", update-fn="ctrl.updateActivityList()")
.container.col-md-6(ng-show="ctrl.issueList.length")
  .panel.panel-default
    .panel-heading.text-center Your Issues
    .panel-body
      .panel.panel-default(ng-repeat="lesson in ctrl.issueList")
        .panel-heading.text-center
          a(ng-href="/lesson/{{lesson.id}}")
            span {{lesson.languageSery.title}}
            span {{" #" + lesson.number}}
            span {{" - " + lesson.title}}
        .panel-body
          .panel.panel-default(ng-repeat="task in lesson.tasks")
            .panel-body
              button.btn.btn-xs.pull-right(href="#", ng-click="ctrl.beginFixingIssues(task)") Begin Fixing 
              issues-list(ng-show="task.issues.length > 0", title="task.taskGlobal.name", issues="task.issues", config="ctrl.issuesConfig")
  task-list(tasks="ctrl.actionableTasks", config="ctrl.actionableTasksConfig")