.container
  h1 {{ctrl.teamMember.nameFull}}'s Task List
.container
  task-list(tasks="ctrl.activeTasks", title="Active Tasks", ng-if="ctrl.activeTasks.length")
.container
  task-list(tasks="ctrl.actionableTasks", title="Actionable Tasks")