.container
  h1 {{ctrl.teamMember.nameFull}}'s Task List
.container(ng-show="ctrl.activeTasks.length")
  task-list(tasks="ctrl.activeTasks", config="ctrl.activeTasksConfig")
.container(ng-show="ctrl.issueList.length")
  issues-list(issues="ctrl.issueList", config="ctrl.issuesConfig")
.container
  task-list(tasks="ctrl.actionableTasks", config="ctrl.actionableTasksConfig")