.container
  h1 {{teamMember.nameFull}}'s Task List
  table.table.table-hover.table-striped.table-condensed(ng-show="activeTasks.length")
    thead
      tr
        th Lesson
        th Task
        th Due Date
        th Actions
    tbody
      tr(ng-repeat="task in activeTasks")
        td 
          a(href="/lesson/{{task.lesson.id}}") {{task.lesson.languageSery.title}} {{"#" + task.lesson.number}}: {{task.lesson.title}}
        td {{task.taskGlobal.name}}
        td {{task.dueDate() | date: 'MMM d, yyyy'}}
        td
          .btn-group.btn-group-sm
            button.btn.btn-default(ng-click="deactivateTask(task)") Deactivate
            button.btn.btn-primary(ng-click="completeTask(task)") Complete
  .pull-right
    form.form-inline
      .form-group
        input.form-control(ng-model="searchText", placeholder="Filter")
      .form-group
        select.form-control(ng-model="selectedSortOption", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Lesson
        th Task
        th Due Date
        th Actions
    tbody
      tr(ng-repeat="task in actionableTasks | filter:searchText | orderBy: selectedSortOption")
        td 
          a(href="/lesson/{{task.lesson.id}}") {{task.lesson.languageSery.title}} {{"#" + task.lesson.number}}: {{task.lesson.title}}
        td {{task.taskGlobal.name}}
        td {{task.dueDate() | date: 'MMM d, yyyy'}}
        td 
          .btn-group.btn-group-sm
            button.btn.btn-primary(ng-click="activateTask(task)") Activate