.panel.panel-default
  .panel-heading.text-center {{config.title}}
    a.pull-right(href="#", ng-click="refresh()")
      span.glyphicon.glyphicon-refresh(aria-hidden="true")
  .panel-body
    .pull-right(ng-show="config.sortable")
      form.form-inline
        .form-group
          select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    .input-group(ng-if="config.filter.platform")
      label(ng-repeat="platform in platforms")
        input(type="radio", name="selectedPlatform", ng-model="$parent.selectedPlatform", ng-value="platform")
        | {{platform.display}}
    .input-group(ng-if="config.filter.lessonStatus")
      label(ng-repeat="status in lessonStatusList")
        input(type="radio", name="selectedLessonStatus", ng-model="$parent.selectedLessonStatus", ng-value="status")
        | {{status.display}}
    .input-group(ng-if="config.filter.deliveryStatus")
      label(ng-repeat="status in statusList")
        input(type="radio", name="selectedStatus", ng-model="$parent.selectedStatus", ng-value="status")
        | {{status.display}}
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th(ng-show="config.columns.actions && identity.isLoggedIn()") Actions
        th(ng-show="config.columns.series") Series
        th(ng-show="config.columns.number") Number
        th(ng-show="config.columns.title") Title
        th(ng-show="config.columns.platform") Platform
        th(ng-show="config.columns.date") Publish Date
        th(ng-show="config.columns.deliveredOn") Delivered
        th(ng-show="config.columns.status") Status
        th(ng-show="config.columns.lessonStatus") Lesson Status
    tbody
      tr(ng-repeat="publishDate in publishDateList | orderBy: sortOrder")
        td(ng-show="config.columns.actions && identity.isLoggedIn()")
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              | Actions
              span(class="caret")
            ul(class="dropdown-menu")
              li(ng-show="config.actions.deliver && identity.isTeamMember()")
                a(href="#", ng-click="deliver(publishDate)") Deliver
              li(ng-show="config.actions.delete && identity.isAdmin()")
                a(href="#", ng-click="delete(publishDate)") Delete
        td(ng-show="config.columns.series") {{publishDate.lesson.languageSery.title}}
        td(ng-show="config.columns.number") {{publishDate.lesson.number}}
        td(ng-show="config.columns.title")
          a(ng-href="/lesson/{{publishDate.lesson.id}}") {{publishDate.lesson.title}}
        td(ng-show="config.columns.platform") {{publishDate.platform.name }}
        td(ng-show="config.columns.date") {{publishDate.date | date: 'MMM d, yyyy'}}
        td(ng-show="config.columns.deliveredOn") {{publishDate.deliveredTime | date: 'MMM d, yyyy, h:mm a'}}
        td(ng-show="config.columns.status") {{publishDate.isDelivered ? "Delivered" : "Not Delivered"}}
        td(ng-show="config.columns.lessonStatus")
          span.glyphicon.glyphicon-facetime-video(aria-hidden="true", ng-show="publishDate.lesson.isShot")
          span.glyphicon.glyphicon-font(aria-hidden="true", ng-show="publishDate.lesson.checkedLanguage")
          span.glyphicon.glyphicon-ok(aria-hidden="true", ng-show="publishDate.lesson.checkedVideo")
          span.glyphicon.glyphicon-floppy-save(aria-hidden="true", ng-show="publishDate.lesson.filesMoved")
          span.glyphicon.glyphicon-cloud-upload(aria-hidden="true", ng-show="publishDate.lesson.isDetected")
