.container
  h1 Publishing
  .pull-right
    form.form-inline
      .form-group
        label(class="radio-inline", ng-repeat="platform in platforms")
          input(type="radio", name="selectedPlatform", ng-model="$parent.selectedPlatform", ng-value="platform")
          | {{platform.display}}
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Lesson
        th Platform
        th Date
    tbody
      tr(ng-repeat="publishDate in publishDates | filter: selectedPlatform.tableValue")
        td
          a(href="languageSeries/{{publishDate.lesson.languageSery.id}}") {{publishDate.lesson.languageSery.title}} 
          a(href="lesson/{{publishDate.lesson.id}}") {{"#" + publishDate.lesson.number}} "{{publishDate.lesson.title}}"
        td {{publishDate.platform.name}}
        td {{publishDate.date | date:'MMM d, yyyy'}}
        td 
          button.btn.btn-primary(ng-click="deliverPublishDate(publishDate)") Deliver