extends ../includes/layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') VTMS
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/db') Lesson DB
  section.content
    div(ng-view)
  footer.container.text-center
    p Copyright 2005 Matt Henry