.container
  h1 {{ctrl.teamMember.nameFull}}
.container(ng-show="ctrl.activeTasks.length")
  task-list(tasks="ctrl.activeTasks", config="ctrl.activeTasksConfig")
.container
  task-list(tasks="ctrl.actionableTasks", config="ctrl.actionableTasksConfig", update-fn="ctrl.updateActionableTasks()")