.container-fluid
  ol.breadcrumb
    li
      a(href="/series") Series List
    li.active {{vm.series.title}}
.container-fluid
  h1 {{vm.series.title}}
  .pull-right
    form.form-inline
      .form-group
        input.form-control(ng-model="vm.searchText", placeholder="Filter")
      .form-group
        select.form-control(ng-model="vm.sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th(ng-show="vm.identity.isAdmin()") Actions
        th Language
        th Title
        th Level
        th(ng-show="vm.identity.isAdmin()")
    tbody
      tr(ng-repeat="langSery in vm.languageSeriesList | filter: vm.searchText | orderBy: vm.sortOrder")
        td(ng-show="vm.identity.isAdmin()")
        td {{langSery.language.name}}
        td
          a(href="/language-series/{{langSery.id}}") {{langSery.title}}
        td {{langSery.level.name}}
        td(ng-show="vm.identity.isAdmin()")
      tr(ng-show="vm.identity.isAdmin()")
        td
          button.btn.btn-primary.btn-sm(ng-click="vm.createLanguageSeries()") Add Language
        td
          select(ng-model="vm.newLanguageSeriesLanguage")
            option(ng-repeat="language in vm.newLanguageSeriesPossibleLanguages", value="{{language.id}}") {{language.name}}
        td
          input.form-control(ng-model="vm.newLanguageSeriesTitle")
        td
          select(ng-model="vm.newLanguageSeriesLevel")
            option(ng-repeat="level in vm.newLanguageSeriesPossibleLevels", value="{{level.id}}") {{level.name}}
        td
          select(ng-model="vm.newLanguageSeriesCount")
            option(ng-repeat="number in vm.newLanguageSeriesPossibleLessons", value="{{number}}") {{number}}
