.container-fluid
  ol.breadcrumb
    li
      a(href="/channels") Channels
    li.active {{channel.name}}
.container-fluid
  h1 {{channel.name}}
.container-fluid
  h2 Upcoming Publishing Schedule
  publish-dates-list(config="upcomingPublishDateListConfig")
