.container(ng-if="ctrl.lesson")
  .panel.panel-primary
    .panel-heading.text-center {{ctrl.lesson.title}}
    .panel-body.text-center
      video-player(config="ctrl.config")
.container
  issues-list(ng-if="ctrl.lesson", lesson="ctrl.lesson", config="ctrl.issuesConfig", current-time="ctrl.currentTime")