.container(ng-if="ctrl.lesson")
  .panel.panel-primary
    .panel-heading.text-center {{ctrl.lesson.languageSery.title + " #" + ctrl.lesson.number + " - " + ctrl.lesson.title}}
    .panel-body.text-center
      video-player(config="ctrl.config")
.container
  issues-list(config="ctrl.issuesConfig", current-time="ctrl.currentTime")
