.container-fluid
  ol.breadcrumb
    li
      a(href="/series") Series List
    li
      a(href="/series/{{ctrl.lesson.languageSery.series.id}}") {{ctrl.lesson.languageSery.series.title}}
    li
      a(href="/language-series/{{ctrl.lesson.languageSery.id}}") {{ctrl.lesson.languageSery.title}}
    li
      a(href="/lesson/{{ctrl.lesson.id}}") {{"#" + ctrl.lesson.number}} {{ctrl.lesson.title}}
    li.active Checking
.container(ng-if="ctrl.lesson")
  .panel.panel-primary
    .panel-heading.text-center {{ctrl.lesson.languageSery.title + " #" + ctrl.lesson.number + " - " + ctrl.lesson.title}}
    .panel-body.text-center
      video-player(config="ctrl.config")
.container(ng-show="ctrl.identity.isAdmin()")
  .btn-group(role="group")
    button.btn.btn-default(ng-hide="ctrl.lesson.checkedLanguage", type="button", ng-click="ctrl.markAsLanguageApproved()") Mark as Language Approved
    button.btn.btn-default(ng-hide="ctrl.lesson.checkedVideo", type="button", ng-click="ctrl.markAsVideoApproved()") Mark as Video Approved
.container
  issues-list(config="ctrl.issuesConfig", current-time="ctrl.currentTime")
