.panel.panel-primary
  .panel-heading.text-center Issues List
  .panel-body
  table.table.table-hover.table-striped.table-condensed#issues
    thead
      tr
        th Actions
        th(ng-show="config.columns.lesson") Lesson
        th(ng-show="config.columns.task") Task
        th(ng-show="config.columns.creator") Creator
        th(ng-show="config.columns.timecode") Timecode
        th(ng-show="config.columns.issue") Issue
        th(ng-show="config.columns.status") Status
    tbody
      tr(ng-repeat="issue in issuesList")
        td
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
              | Actions
              span(class="caret")
            ul(class="dropdown-menu")
              li(ng-show="config.actions.delete")
                a(href="#", ng-click="deleteIssue(issue)") Delete
              li(ng-show="config.actions.complete")
                a(href="#", ng-click="completeIssue(issue)") Complete
              li.divider(role="separator", ng-if="actions.reassign")
              li(ng-if="config.actions.reassign", ng-repeat="task in taskList")
                a(href="#", ng-click="assignIssueToTask(issue, task)") {{task.taskGlobal.name}}
        td(ng-show="config.columns.lesson")
              a(href="/lesson/{{issue.task.lesson.id}}") {{issue.task.lesson.languageSery.title}} {{"#" + issue.task.lesson.number}}: {{issue.task.lesson.title}}
        td(ng-show="config.columns.task") {{$parent.taskList ? getNameFromTaskId(issue.fkTask, $parent.taskList) : issue.task.taskGlobal.name}}
        td(ng-show="config.columns.creator") {{issue.creator}}
        td(ng-show="config.columns.timecode") {{issue.timecode}}
        td(ng-show="config.columns.issue") {{issue.body}}
        td(ng-show="config.columns.status") {{issue.isCompleted ? "Completed" : "Incomplete"}}
      tr(ng-show="!!lesson")
        td
          button.btn.btn-primary.btn-sm(ng-show="config.actions.getTime", ng-click="getCurrentTime()") Get Time
        td(ng-show="config.columns.lesson") Lesson
        td(ng-show="config.columns.task")
          select(ng-model="newIssueValues.fkTask" convert-to-number)
            option(ng-repeat="task in taskList", value="{{task.id}}") {{task.taskGlobal.name}}
        td(ng-show="config.columns.creator")
          input(ng-model="newIssueValues.creator")
        td(ng-show="config.columns.timecode")
          input(ng-model="newIssueValues.timecode")
        td(ng-show="config.columns.issue")
          textarea(ng-model="newIssueValues.body", id="newIssue")
        td(ng-show="config.columns.status")
          button.btn.btn-primary.btn-sm(ng-click="newIssue()") Add issue