.container-fluid
  .panel.panel-primary(ng-repeat="lesson in lessons")
    .panel-heading.text-center {{lesson.languageSery.title}} {{"#" + lesson.number}} - {{lesson.title}}
    .panel-body
      h4
        a(ng-href="/lesson/{{lesson.id}}/checking") View video
      issues-list(lesson="lesson", issues="lesson.issues", config="$parent.config")