.panel.panel-primary
  .panel-heading.text-center Issues List
  .panel-body
  table.table.table-hover.table-striped.table-condensed#issues
    thead
      tr
        th Actions
        th(ng-hide="friendly") Lesson
        th(ng-hide="friendly") Task
        th(ng-hide="friendly") Creator
        th Timecode
        th Issue
        th Status
    tbody
      tr(ng-repeat="issue in issuesList")
        td
          div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
              | Actions
              span(class="caret")
            ul(class="dropdown-menu")
              li
                a(href="#", ng-click="deleteIssue(issue)") Delete
              li(ng-hide="issue.isCompleted")
                a(href="#", ng-click="completeIssue(issue)") Complete
        td(ng-hide="friendly")
              a(href="/lesson/{{issue.task.lesson.id}}") {{issue.task.lesson.languageSery.title}} {{"#" + issue.task.lesson.number}}: {{issue.task.lesson.title}}
        td(ng-hide="friendly") {{$parent.taskList ? getNameFromTaskId(issue.fkTask, $parent.taskList) : issue.task.taskGlobal.name}}
        td(ng-hide="friendly") {{issue.creator}}
        td {{issue.timecode}}
        td {{issue.body}}
        td {{issue.isCompleted ? "Completed" : "Incomplete"}}
      tr(ng-show="!!lesson")
        td
        td(ng-hide="friendly") Lesson
        td(ng-hide="friendly")
          select(ng-model="newIssueValues.fkTask" convert-to-number)
            option(ng-repeat="task in taskList", value="{{task.id}}") {{task.taskGlobal.name}}
        td(ng-hide="friendly")
          input(ng-model="newIssueValues.creator")
        td
          input(ng-model="$parent.videoCurrentTime")
        td
          textarea(ng-model="newIssueValues.body", id="newIssue")
        td
          button.btn.btn-primary.btn-sm(ng-click="newIssue()") Add issue