doctype
html(ng-app='vtms')
  head
    title VTMS {{pageTitle}}
    base(href="/")
    link(rel='stylesheet', href='assets/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/libs/toastr/toastr.css')
    link(rel='stylesheet', href='assets/libs/angular-xeditable/dist/css/xeditable.css')
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
  body
    include currentUser
    block content
    include scripts
