script(src='../../assets/libs/jquery/dist/jquery.min.js')
script(src='../../assets/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='../../assets/libs/toastr/toastr.js')
script(src='../../assets/libs/moment/moment.js')
script(src='../../assets/libs/angular/angular.min.js')
script(src='../../assets/libs/angular-resource/angular-resource.min.js')
script(src='../../assets/libs/angular-route/angular-route.min.js')
script(src='../../assets/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='../../assets/libs/angular-xeditable/dist/js/xeditable.min.js')
script(src='../../assets/libs/angular-sanitize/angular-sanitize.min.js')
script(src='../../assets/libs/videogular/videogular.js')
script(src='../../assets/libs/videogular-controls/vg-controls.min.js')
script(src='../../app/app.js')
script(src='../../app/main/vtmsMainController.js')
script(src='../../app/account/vtmsNavBarLoginController.js')
script(src='../../app/account/vtmsIdentity.js')
script(src='../../app/admin/vtmsDatabaseMigrationController.js')
script(src='../../app/common/vtmsNotifier.js')
script(src='../../app/common/miscDirectives.js')
script(src='../../app/account/vtmsAuth.js')
script(src='../../app/account/vtmsUser.js')
script(src='../../app/admin/vtmsUserListController.js')
script(src='../../app/account/vtmsSignupController.js')
script(src='../../app/account/vtmsProfileController.js')
script(src='../../app/series/vtmsSeriesListController.js')
script(src='../../app/series/vtmsSeries.js')
script(src='../../app/series/vtmsCachedSeries.js')
script(src='../../app/video/video.js')
script(src='../../app/series/vtmsSeriesDetailController.js')
script(src='../../app/languageSeries/vtmsLanguageSeries.js')
script(src='../../app/languageSeries/vtmsLanguageSeriesDetailsController.js')
script(src='../../app/lessons/vtmsLessonDetailsController.js')
script(src='../../app/lessons/vtmsRenderQueueController.js')
script(src='../../app/lessons/vtmsVideoCheckArchivalController.js')
script(src='../../app/lessons/vtmsQualityAssuranceController.js')
script(src='../../app/lessons/vtmsLesson.js')
script(src='../../app/lessons/vtmsLessonShootingController.js')
script(src='../../app/lessons/lessonIssuesList.js')
script(src='../../app/lessons/lessonsList.js')
script(src='../../app/lessons/vtmsNoTRTLessonsController.js')
script(src='../../app/issues/vtmsCheckingController.js')
script(src='../../app/shot/vtmsShot.js')
script(src='../../app/shot/shotList.js')
script(src='../../app/issues/vtmsIssue.js')
script(src='../../app/issues/issuesList.js')
script(src='../../app/issues/vtmsIssueAssignmentController.js')
script(src='../../app/globalTasks/vtmsGlobalTask.js')
script(src='../../app/task/vtmsTask.js')
script(src='../../app/task/taskList.js')
script(src='../../app/task/vtmsUndeliveredAssetsController.js')
script(src='../../app/shift/vtmsShift.js')
script(src='../../app/shift/vtmsRecentShiftsController.js')
script(src='../../app/platform/vtmsPlatform.js')
script(src='../../app/activity/vtmsActivity.js')
script(src='../../app/activity/vtmsActivityFeedController.js')
script(src='../../app/activity/activityList.js')
script(src='../../app/teamMembers/vtmsTeamMemberDetailsController.js')
script(src='../../app/teamMembers/vtmsTeamMemberListController.js')
script(src='../../app/teamMembers/teamMemberIssuesList.js')
script(src='../../app/publishDates/vtmsPublishDate.js')
script(src='../../app/publishDates/vtmsPublishingDeliveredController.js')
script(src='../../app/publishDates/vtmsPublishingUpcomingController.js')
script(src='../../app/publishDates/vtmsPublishingReadyController.js')
script(src='../../app/publishDates/publishDatesList.js')
script(src='../../app/task/vtmsTeamMemberTaskListController.js')
script(src='../../app/task/vtmsUnassignedTasksController.js')
script(src='../../app/teamMembers/vtmsTeamMember.js')
script(src='../../app/navbar/vtmsNavBarController.js')
script(src='../../app/filters/time.js')
