script(src='../assets/libs/angular/angular.min.js')
script(src='../assets/libs/jquery/dist/jquery.min.js')
script(src='../asets/libs/bootstrap/dist/js/bootstrap.min.js')
link(rel='stylesheet', href='../assets/libs/bootstrap/dist/css/bootstrap.min.css')
script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')