.container
  .jumbotron
    h1 Video Team Management System
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A neque quae, sequi vel et qui reprehenderit! Rerum eaque similique, dolor modi delectus necessitatibus, quisquam officia animi! Saepe earum mollitia distinctio!
  .col-md-6
    include series-list-panel