.container
  .jumbotron
    h1 VTMS
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A neque quae, sequi vel et qui reprehenderit! Rerum eaque similique, dolor modi delectus necessitatibus, quisquam officia animi! Saepe earum mollitia distinctio!
    p {{myVar}}
  .row
    .col-md-6
      div(ng-include="'/partials/main/series-list'")