.panel.panel-primary
  .panel-heading.text-center Series List
  .panel-body
    .row(ng-repeat="sery in ctrl.series | orderBy: 'title'")
      .col-md-12
        a(href="/series/{{sery.id}}") {{sery.title}}