.container-fluid
  ol.breadcrumb
    li
      a(href="/series") Series List
    li
      a(href="/series/{{languageSeries.series.id}}") {{languageSeries.series.title}}
    li.active {{languageSeries.title}}
.container
  lesson-list(lessons="lessonList", config="lessonConfig")