.container-fluid
  ol.breadcrumb
    li
      a(href="/series") Series List
    li
      a(href="/series/{{languageSeries.series.id}}") {{languageSeries.series.title}}
    li.active {{languageSeries.title}}
.container-fluid
  h1
    a(href="#", editable-text="languageSeries.title", onbeforesave="update({title: $data})") {{languageSeries.title}}
.container-fluid
  lessons-list(config="lessonsConfig")